/********* logoHover *********/
@-webkit-keyframes logoHover{
	0%{
		border-radius: 50%;
		background-color: #CCCCCC;
	}
	100%{
		border-radius: 3px;
		background-color: #0E998C;
		
	}
}

@-moz-keyframes logoHover{
	0%{
		border-radius: 50%;
		background: #CCCCCC;
	}
	100%{
		border-radius: 3px;
		background: #0E998C;
		
	}
}

@keyframes logoHover{
	0%{
		border-radius: 50%;
		background: #CCCCCC;
	}
	100%{
		border-radius: 3px;
		background: #0E998C;
		
	}
}

/********* logoLeave *********/
@-webkit-keyframes logoLeave{
	0%{
		border-radius: 3px;
		background: #0E998C;
		
	}
	100%{
		border-radius: 50%;
		background: #CCCCCC;
		
	}
}

@-moz-keyframes logoLeave{
	0%{
		border-radius: 3px;
		background: #0E998C;
		
	}
	100%{
		border-radius: 50%;
		background: #CCCCCC;
		
	}
}

@keyframes logoLeave{
	0%{
		border-radius: 3px;
		background: #0E998C;
		
	}
	100%{
		border-radius: 50%;
		background: #CCCCCC;
		
	}
}

/********* headerTitleHover *********/
@-webkit-keyframes headerTitleHover {
	0%   { margin-right: 0; color: #CCCCCC; }
	15% { margin-right: 30px; }
	30% { margin-right: -25px; }
	45% { margin-right: 20px; }
	60% { margin-right: -15px; }
	75% { margin-right: 10px; }
	90% { margin-right: -5px; }
	100% { margin-right: 0; color: #0E998C;	}
}

@-moz-keyframes headerTitleHover{
	0%   { margin-right: 0; color: #CCCCCC; }
	15% { margin-right: 30px; }
	30% { margin-right: -25px; }
	45% { margin-right: 20px; }
	60% { margin-right: -15px; }
	75% { margin-right: 10px; }
	90% { margin-right: -5px; }
	100% { margin-right: 0; color: #0E998C;	}
}
@keyframes headerTitleHover{
	0%   { margin-right: 0; color: #CCCCCC; }
	15% { margin-right: 30px; }
	30% { margin-right: -25px; }
	45% { margin-right: 20px; }
	60% { margin-right: -15px; }
	75% { margin-right: 10px; }
	90% { margin-right: -5px; }
	100% { margin-right: 0; color: #0E998C;	}
}

/********* headerTitleLeave *********/
@-webkit-keyframes headerTitleLeave {
	0%   { color: #0E998C; }
	100% { color: #CCCCCC;	}
}

@-moz-keyframes headerTitleLeave {
	0%   { color: #0E998C; }
	100% { color: #CCCCCC;	}
}

@keyframes headerTitleLeave {
	0%   { color: #0E998C; }
	100% { color: #CCCCCC;	}
}

/********* menuCollapsed *********/
@-webkit-keyframes menuCollapsed {
	0%   { height: auto; }
	100% { height: auto; }
}

@-moz-keyframes menuCollapsed {
	0%   { height: auto; }
	100% { height: auto; }
}

@keyframes menuCollapsed {
	0%   { height: auto; }
	100% { height: auto; }
}

/********* menuCollapsedHover *********/
@-webkit-keyframes menuCollapsedHover {
	0%   { padding-left: 1rem; }
	100% { padding-left: 2rem; }
}

@-moz-keyframes menuCollapsedHover {
	0%   { padding-left: 1rem; }
	100% { padding-left: 2rem; }
}

@keyframes menuCollapsedHover {
	0%   { padding-left: 1rem; }
	100% { padding-left: 2rem; }
}

/********* menuCollapsedLeave *********/
@-webkit-keyframes menuCollapsedLeave {
	0%   { padding-left: 2rem; }
	100% { padding-left: 1rem; }
}

@-moz-keyframes menuCollapsedLeave {
	0%   { padding-left: 2rem; }
	100% { padding-left: 1rem; }
}

@keyframes menuCollapsedLeave {
	0%   { padding-left: 2rem; }
	100% { padding-left: 1rem; }
}